@import "vars";
@import "mixins";
@import "headerfooter";

.projectdetails-banner {
  min-height: 351px;
  margin-top: -12px;
  margin-bottom: 200px;
  background-image: url("../img/projectdetails_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectdetails {
  height: 1386px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  &__content {
    max-width: 658px;
    height: 437px;
  }

  &__heading {
    margin-bottom: 11px;
    @extend %styleTextDMSerifDisplay;
    font-size: 50px;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }

  &__text {
    @extend %styleTextJost;
    line-height: 150%; /* 33px */
  }

  &__img {
    border-radius: 70px;
  }
}
