.active {
  color: chartreuse;
}
.menu {
  display: flex;
  gap: 15px;
  list-style-type: none;
}
/* task_2 */
.modalWin {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  display: none;
}

.is-open {
  opacity: 1;
  height: 100px;
  width: 100px;
  border: 1px solid red;
  display: block;
}
/* task_3 */
